.formulario {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green; }
  .formulario .input {
    width: 90%;
    height: 18px; }
  .formulario .textarea {
    width: 90%;
    height: 65px; }
  .formulario .button {
    height: 25px;
    width: 80px;
    cursor: pointer; }
